<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register Form</title>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap">
  <link rel="stylesheet" th:href="@{/auth/style.css}">
</head>

<body>
<div class="wrapper">
  <div class="login_box">
    <div class="login-header">
      <span>Register</span>
    </div>

    <form th:action="@{/auth/register}" th:object="${authRegisterRequest}" method="post">

      <div class="input_box">
        <input type="text" id="username" class="input-field" placeholder=" " required th:field="*{username}">
        <label for="username" class="label">Username</label>
        <i class="bx bx-user icon"></i>
      </div>

      <div class="input_box">
        <input type="email" id="user" class="input-field" placeholder=" " required th:field="*{email}">
        <label for="user" class="label">Email</label>
        <i class="bx bx-envelope icon"></i>
      </div>

      <div class="input_box">
        <input type="password" id="pass" class="input-field" placeholder=" " required th:field="*{password}">
        <label for="pass" class="label">Password</label>
        <i class="bx bx-lock-alt icon"></i>
      </div>

      <div class="input_box">
        <input type="password" id="confirmPass" class="input-field" placeholder=" " required th:field="*{confirmPassword}">
        <label for="confirmPass" class="label">Confirm Password</label>
        <i class="bx bx-lock-alt icon"></i>
      </div>

      <div class="input_box">
        <select id="role" class="input-field" required th:field="*{role}">
          <option value="" disabled selected>Select Role</option>
          <option value="FARMER">Farmer</option>
          <option value="CUSTOMER">Customer</option>
        </select>
        <i class="bx bx-chevron-down select-icon"></i>
      </div>

      <div class="input_box">
        <input type="submit" class="input-submit" value="Register">
      </div>

    </form>

    <div class="register">
      <span>Have an account? <a th:href="@{/pages/login}">Login</a></span>
    </div>
  </div>
</div>
</body>

</html>
